* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #050000b1;
}

.wrapper {
  padding: 20px 0;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  background: #0000006d;
  padding: 10px 0;
  border: none;
  color: aliceblue;
  font-size: 20px;
  border-radius: 8px;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #ffffff6d;
  color: aqua;
}

.control {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 1700px;
}

input {
  padding: 5px;
}

.card {
  color: #ffffff;
  text-shadow: 0 0 12px aqua;
  width: 300px;
  margin: 0 auto;
  border: 2px solid #0fafbd;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
